*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: #972fbafa;
  --white: #ffffff;
  --yellow: #32def1;
  --golden-yellow: #32f7fe;
}

body {
  background-color: var(--very-dark-blue);
  text-align: center;
  color: var(--white);
}

h1 {
  margin: 50px 0 20px;
}

.btn {
  cursor: pointer;
  width: 200px;
  height: 100px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 50px;
  color: var(--very-dark-blue);
  background-color: var(--golden-yellow);
  background-image: linear-gradient(#4cfe7b, #47ff33);
  border-color: var(--golden-yellow);
  border-width: 3px;
}

.btn:hover {
  background-image: linear-gradient(#050424, #02051b);
}

.rules-container {
  padding: 50px 0;
  margin: auto;
  border-radius: 15px;
  border: 5px solid var(--yellow);
  background-color: var(--white);
  color: var(--very-dark-blue);
}

.rules-container ul {
  list-style-type: none;
}

.rules-container p {
  margin: 30px 0;
}

@media (min-width: 760px) {
  .rules-container {
    width: 60%;
  }
}

.score-container {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  font-size: 1.2rem;
  border: 2px solid var(--yellow);
  padding : 15px 0;
  border-radius: 10px;
  width: 500px;
  background-color: #050424;
  color: var(--white);
  margin-left : auto;
  margin-right : auto ;


}

.score {
  font-weight: 500;
}

.results-container {
  font-size: 1.3rem;
  margin: 15px 0;
}

#winner-msg {
  margin-top: 25px;
}

#reset-game-btn {
  display: none;
  margin: 50px auto;
}
